<div class="row">
	<div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2">
		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="id_match">Tecnicos</label>
				<div class="col-md-9">
					<select name="tecnicos[]" class="js-example-basic-multiple" multiple="multiple"   id="id_tecnico" title="" required="">
						{% for tecnico in tecnicos %}
						<option value="{{tecnico.pk}}">{{tecnico.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="id_match">Emergencias</label>
				<div class="col-md-9">
					<select name="emergencia" class="form-control" id="id_emergencia" title="" required="">
						{% for emergencia in emergencias %}
						<option value="{{emergencia.pk}}">{{emergencia.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="id_match">Central</label>
				<div class="col-md-9">
					<select name="central" class="form-control" id="id_central" title="" required="">
						{% for central in centrales %}
						<option value="{{central.pk}}">{{central.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="id_match">Cuadrilla</label>
				<div class="col-md-9">
					<select name="cuadrilla" class="form-control" id="id_cuadrilla" title="" required="">
						{% for cuadrilla in cuadrillas %}
						<option value="{{cuadrilla.pk}}">{{cuadrilla.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
		
			
			<input value="Enviar" class="btn btn-primary btn-lg btn-block" type="submit">
		</form>
	</div>
</div>	