{% extends "base.html" %}
{% load static %}
{% block tittle %}Administradores{% endblock %}
{% block content %}
<table class="table">
	<thead>
	<tr>
		<th>ID</th>
		<th>Link</th>
	    <th>Nombre</th>
	    <th>Rut</th>
	    <td>Fecha de Nacimiento</td>
	</tr>
	</thead>
	<tbody>
	{% for object in object_list %}
	<tr>
	    <td>{{object.pk}}</td>
	    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
	    <td>{{ object.full_name }}</td>
	    <td>{{ object.rut }}</td>
	    <td>{{ object.birth_date }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
<a class="btn btn-primary" href="{% url 'core_administrador_create' %}">Create new admin</a>
{% endblock %}