{% extends "base.html" %}
{% load static %}
{% block tittle %}Administrador{% endblock %}
{% block content %}
<table class="table">
<tr><td>Nombre</td><td>{{ object.full_name }}</td></tr>
<tr><td>Rut</td><td>{{ object.rut }}</td></tr>
<tr><td>Fecha de Nacimiento</td><td>{{ object.birth_date }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit admin</a>

{% endblock %}