{% extends "base.html" %}
{% load static %}
{% block tittle %} Asistencia {% endblock %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_asistencia_list' %}">Asistencia Listing</a></p>
<table class="table">
<tr><td>Cuadrilla</td><td>{{ object.cuadrilla }}</td></tr>
<tr><td>Emergencia</td><td>{{ object.emergencia }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Asistencia</a>
<a class="btn btn-default" href=" {{object.get_delete_url}}">Eliminar Asistencia</a>
{% endblock %}