{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block tittle %} Confirmar {% endblock %}
{% block content %}
<div class="row">	
	<div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2">
		<form action="" method="post" enctype="multipart/form-data">
		 <p>Estas Seguro de Borrar "{{ object }}"?</p>
		{% csrf_token %}

		<input class="btn btn-primary btn-lg btn-block" type="submit" value="Confirmar">
		<a class="btn btn-primary btn-lg btn-block" href="{{object.get_absolute_url}}">Volver</a>
		</form>
	</div>
</div>
{% endblock %}