{% extends "base.html" %}
{% load static %}
{% block tittle %}Centrales{% endblock %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_central_list' %}">Central Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>Nombre</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>address</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.address }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'core_central_create' %}">Create new Central</a>
{% endblock %}