{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block tittle %}Crear Central{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2">
		<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}

		{% bootstrap_form form layout="horizontal" %}

		<input class="btn btn-primary btn-lg btn-block" type="submit" value="Enviar">
		<a class="btn btn-primary btn-lg btn-block" href="{% url 'core_central_list' %}">Volver</a>
		</form>
	</div>
</div>
{% endblock %}