{% extends "base.html" %}
{% load static %}
{% block tittle %}Central{% endblock %}
{% block content %}
<table class="table">
<tr><td>Nombre</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>Dirección</td><td>{{ object.address }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Central</a>

{% endblock %}