{% extends "base.html" %}
{% load static %}
{% block tittle %}Detalles Cuadrilla{% endblock %}
{% block content %}
<table class="table">
	<tr><td>Nombre</td><td>{{ object.name }}</td></tr>
	<tr><td>Estado</td><td>{{ object.status }}</td></tr>
	<tr><td>Central</td><td>{{ object.central }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Cuadrilla</a>
<a class="btn btn-primary" href="{{object.get_delete_url}}">Eliminar Cuadrilla</a>
<a class="btn btn-primary" href="{% url 'core_cuadrilla_list' %}">Volver</a>

{% endblock %}