{% extends "base.html" %}
{% load static %}
{% block tittle %}Emergencia{% endblock %}
{% block content %}
<table class="table">
	<tr><td>name</td><td>{{ object.name }}</td></tr>
	<tr><td>slug</td><td>{{ object.slug }}</td></tr>
	<tr><td>created</td><td>{{ object.created }}</td></tr>
	<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
	<tr><td>type</td><td>{{ object.type }}</td></tr>
	<tr><td>level</td><td>{{ object.level }}</td></tr>
	<tr><td>address</td><td>{{ object.address }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Emergencia</a>

{% endblock %}