{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block tittle %}Tecnico{% endblock %}
{% block content %}
<table class="table">
<tr><td>Nombre</td><td>{{ object.full_name }}</td></tr>
<tr><td>Rut</td><td>{{ object.rut }}</td></tr>
<tr><td>Fecha de Nacimiento</td><td>{{ object.birth_date }}</td></tr>
<tr><td>Especialidad</td><td>{{ object.speciality }}</td></tr>
<tr><td>Cuadrilla</td><td>{{ object.cuadrilla }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Tecnico</a>
<a class="btn btn-primary" href="{{object.get_delete_url}}">Eliminar Tecnico</a>
<a class="btn btn-primary" href="{% url 'core_tecnico_list' %}">Volver</a>


{% endblock %}
{% block javascript %}

{% endblock %}