<nav class="navbar navbar-expand-md bg-dark navbar-dark ">
    
        <a class="navbar-brand" href="{% url 'index' %}">Logo</a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>

  <!-- Links -->
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Tecnico
                  </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'core_tecnico_list' %}">Lista de Tecnicos Disponible</a>
                    <a class="dropdown-item" href="{% url 'core_tecnico_list_all' %}">Lista de Tecnicos</a>
                    <a class="dropdown-item" href="{% url 'core_tecnico_create' %}">Crear Tecnico</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Cuadrillas
                  </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'core_cuadrilla_list' %}">Lista de Cuadrillas</a>
                    <a class="dropdown-item" href="{% url 'core_cuadrilla_create' %}">Crear Cuadrilla</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Administrador
                  </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'core_administrador_list' %}">lista de Administradores</a>
                    <a class="dropdown-item" href="{% url 'core_administrador_create' %}">Crear Administrador</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Central
                  </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'core_central_list' %}">Lista de Centrales</a>
                    <a class="dropdown-item" href="{% url 'core_central_create' %}">Crear Central</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Emergencias
                  </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'core_emergencia_list' %}">Lista de Emergencias</a>
                    <a class="dropdown-item" href="{% url 'core_emergencia_create' %}">Ingresar Emergencia</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Asignar Emergencia
                  </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'core_asistencia_list' %}">Asistencia Lista</a>
                    <a class="dropdown-item" href="{% url 'core_asistencia_create' %}">Ingresar Asistencia</a>
                </div>
            </li>
        </ul>
    </div>

    </nav>