{% extends 'base.html' %}
{% block tittle %}Inicio{% endblock %}
{% block content %}
<h1>Texto de Bienvenida</h1>
<div class="row" style="margin-top: 10px;">
	<div class="col">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente similique magni ducimus provident earum, nisi saepe assumenda inventore, dolor beatae iusto architecto dolore officia laborum natus dignissimos voluptatem molestias error.
		</p>
	</div>
	<div class="col">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, dolor sapiente cupiditate tenetur. Rerum ducimus tempore voluptate odio magni, enim doloribus modi, natus temporibus quia aliquid voluptates ratione cumque repellendus?
		</p>
	</div>	
</div>	
{% endblock %}