body {
	
}

#content .container{
	background: grey;
}

footer{

	background: 000000;

}
footer .container{
	background: #33333
}
footer p {
	text-align: center;
	color: #FFFFFF;
	padding-top: 15px;
	padding-bottom: 15px;
}

#slide {
	background: #000 url(https://www.brandominus.com/wp-content/uploads/2015/07/aprende-html5.jpgs) no-repeat;
	background-size: cover;
	min-height: 300px;
	background:cover;

}
#slide h1, #slide p{
	color: #FFFFFF
}
#content {
	background: grey;
}